@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dunkin Sans Bold";
  src: url("./assets/fonts/Dunkin Sans Bold.woff2") format("woff2"),
    url("./assets/fonts/Dunkin Sans Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.Modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.Modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  outline: none;
}
